<p>id <%= @post[0] %></p>
<p>title <%= @post[1] %></p>
<p>content <%= @post[2] %></p>
<p><a href='/'>back</a>|<a href='/edit/<%= @post[0] %>'>edit</a>|<a href='/destroy/<%= @post[0] %>'>delete</a></p>
